@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.contentxd {
    height: 90vh;
    width: 100vw;
    font-family: "Oxanium", sans-serif;
    color: #101010;
    display: flex;
}

.contentxd .about {
    height: 100%;
    width: 50vw;
    padding: 3%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

.contentxd .img {
    height: 100%;
    width: 50vw;
    padding: 3%;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-weight: 700;
    font-size: 5em;
    margin-bottom: 2%;
}

.about p {
    font-weight: 400;
    font-size: 2.25em;
}

.img .center {
    background-color: aqua;
    aspect-ratio: 1;
    width: 100%;
}