body {
  background-color: #ABDAE8; /* Heller Hintergrund */
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  
}
.Titel{
    text-align: center; /* Zentriert den Text */
     font-size: 5vh;
    font-size: 5vw; 
    color: #000000; /* Dunkle Farbe für den Text */
   margin: 1vh;
  margin: 1vw;
}
.grid-container {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
 "Startseitenbild Ersterabsatz"
 "Zweiterabsatz Teleporterlevel "
 "Höhlenszenerie Dritterabsatz "
 "Winterdorfbild Winterdorfbild"; 
  row-gap: 200px; /* Abstand zwischen den Zeilen */
}
.Ersterabsatz{
  grid-area: Ersterabsatz;
  font-size: 2em;
  color: #000000;
  margin: 1vh;
  margin: 1vw;
  text-align: right;
}
.Zweiterabsatz {
  grid-area: Zweiterabsatz;
  font-size: 2em;
  color: #000000;
  margin: 1vh;
  margin: 1vw;
  text-align: left;
}
.Dritterabsatz {
  grid-area: Dritterabsatz;
  font-size: 2em;
  color: #000000;
  margin: 1vh;
  margin: 1vw;
  text-align: right;
}
.Startseitenbild {
  grid-area: Startseitenbild;
   width: 100vh;
  width: 50vw;
  height: auto;
}
.Höhlenszenerie {
  grid-area: Höhlenszenerie;
   width: 100vh;
  width: 50vw;
  height: auto;
}
.Teleporterlevel {
  grid-area: Teleporterlevel;
   width: 100vh;
  width: 50vw;
  height: auto;
}

.Winterdorfbild {
  grid-area: Winterdorfbild;
  width: 100vh;
  width: 50vw;
  height: auto;
    position: relative;
    left: 55%; 
    Bottom: 50%;

}
